# Force GitHub to detect SQL files
*.sql linguist-detectable=true
*.sql linguist-language=SQL

# Hide batch script from language stats
*.bat linguist-detectable=false

# Ignore other file types from language stats
*.md linguist-detectable=false
*.png linguist-detectable=false
*.jpg linguist-detectable=false
*.jpeg linguist-detectable=false
*.csv linguist-detectable=false
